#uenPage {
    height: 100%;
    width: 100%;

    #uenPageValidatorBox {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: lightblue;

        #uenPageValidatorTitle {
            font-size: 50px;
            font-weight: bold;
            color: white;
        }

        #uenPageValidatorInputBox {

            #uenPageValidatorInput {
                font-size: 30px;
            }

        }

        #uenPageValidatorButtonBox {

            #uenPageValidatorButton {
                color: white;
                background-color: lightblue;
                border: 3px solid white;
                font-size: 30px;
            }

        }
    }
}

.sideBarBox {
    width: 100%;
    height: 100%;

    .sideBarButtonsBox {
        display: flex;
        align-items: flex-end;
        height: 50%;
    }

    #sideBarCollapse {
        position:absolute;
        bottom: 10px;
        width: 30%;
    }


}

#sideBarExpand {
    position:absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.toggleButton {
    background-color: darkgrey;
    color: white;
}

.maximise {
    grid-template-columns: 70% 30%;
}

.minimise {
    grid-template-columns: 90% 10%;
}

.validatorBoxComponent {
    margin-top: 10px;
    width: 60%;
}