.linkButtons {
    background-color: lightblue;
    border: 2px solid #d3d3d3;
    min-width: fit-content;
    margin: 5px;
    box-shadow: 3px 2px 3px lightgrey;
    color: white;
    font-size: 18px;
    min-height: fit-content;

    &:hover {
        position: relative;
        left: 3px;
        top: 2px;
        box-shadow: 0px 0px 0px;
    }

}