#dropdownBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    #dropdownBarLabel {
        color: white;
        font-size: 18px;
    }

}

#filterToggle {
    width: 100px;
}